@import "../../../styles/theme";
.eventForm {
  border-radius: $radius-l;
  padding: 20px;
  max-width: 322px;
  border: 1px solid #E8E8E8;

  div:last-of-type {
    margin-bottom: 5px;
  }
}

.title {
  @include font-medium-bold;
  margin-bottom: 20px;
}
