@import "../../../styles/theme";

.textInput {
  display: grid;
  grid-template-rows: auto auto;
  .inputField {
    @include input-base;
  }
  .errorMessage {
    @include font-small-bold;
    @include input-padding;
    color: $on-orange-color;
    margin-top: -15px;
  }
}
